body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #333;
}

pre {
    background-color: #f4f4f4;
    padding: 1em;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    font-size: 1.1em;
    tab-size: 4;
}

.doc {
    margin-left: 2em;
}

.comment {
    color: firebrick;
}

.keyword {
    color: blue;
    font-weight: bold;
}

.string {
    /* No color is applied; defaults to standard text color. */
}

.builtin {
    color: forestgreen;
    font-weight: bold;
}

.version-info {
    font-size: 0.8em;
    font-weight: normal;
    color: #555;
    margin-left: 1em;
}

.repository-link {
    font-size: 0.8em;
    font-weight: normal;
    margin-left: 1em;
}

.nav-up {
    margin-bottom: 1.5em;
    font-size: 0.9em;
}
